### Initialization

In [1]:
import pandas as pd
import pygmnormalize as gmn

### Numeric tests

In [2]:
matrix = pd.read_table('../test_data/numeric_dataset_1.txt', sep=' ', header=None)

Before:

In [3]:
matrix

     0   1  2
0    5  10  1
1   10  20  2
2    1   2  5
3  353   0  2
4    7   7  7
5    8   9  8

After total count normalization:

In [4]:
normal_matrix = gmn.total_count_normalization(matrix)
normal_matrix

          0         1     2
0  0.013021  0.208333  0.04
1  0.026042  0.416667  0.08
2  0.002604  0.041667  0.20
3  0.919271  0.000000  0.08
4  0.018229  0.145833  0.28
5  0.020833  0.187500  0.32

After percentile normalization:

In [5]:
normal_matrix = gmn.percentile_normalization(matrix, 50)
normal_matrix

           0      1         2
0   0.666667  1.250  0.285714
1   1.333333  2.500  0.571429
2   0.133333  0.250  1.428571
3  47.066667  0.000  0.571429
4   0.933333  0.875  2.000000
5   1.066667  1.125  2.285714

After quartile normalization:

In [6]:
normal_matrix = gmn.quartile_normalization(matrix, 3)
normal_matrix

           0         1         2
0   0.526316  1.025641  0.153846
1   1.052632  2.051282  0.307692
2   0.105263  0.205128  0.769231
3  37.157895  0.000000  0.307692
4   0.736842  0.717949  1.076923
5   0.842105  0.923077  1.230769

After TMM normalization:

In [7]:
normal_matrix = gmn.tmm_normalization(matrix)
normal_matrix

       0         1         2
0    5.0  0.865236  0.122457
1   10.0  1.730471  0.244914
2    1.0  0.173047  0.612285
3  353.0  0.000000  0.244914
4    7.0  0.605665  0.857199
5    8.0  0.778712  0.979656